/*
***********
COLORS
************
*/
/*
***********
FONTS
************
*/
/*
***********
GENERAL SETTINGS
************
*/
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0; }

/*
***********
PARALLAX
************
*/
.logo {
  font-size: 30px;
  font-weight: 900;
  color: #e20079;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px; }
  .logo span {
    color: #9f0056; }

.art, .art_layer {
  height: 1000px; }

#parallax {
  display: block; }

#nonparallax {
  display: none;
  background-image: url("../img/mobil.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.art {
  position: relative;
  z-index: 10; }
  .art_layer {
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute; }
    .art_layer--1 {
      background-color: #f2f2f2; }
    .art_layer--2 {
      background-image: url("../img/parallax/12.svg"); }
    .art_layer--3 {
      background-image: url("../img/parallax/w11.svg"); }
    .art_layer--4 {
      background-image: url("../img/parallax/w10.svg"); }
    .art_layer--5 {
      background-image: url("../img/parallax/09.svg"); }
    .art_layer--6 {
      background-image: url("../img/parallax/w08.svg"); }
    .art_layer--7 {
      background-image: url("../img/parallax/07.svg"); }
    .art_layer--8 {
      background-image: url("../img/parallax/w06.svg"); }
    .art_layer--9 {
      background-image: url("../img/parallax/05.svg"); }
    .art_layer--10 {
      background-image: url("../img/parallax/w04.svg"); }
    .art_layer--11 {
      background-image: url("../img/parallax/03.svg"); }
    .art_layer--12 {
      background-image: url("../img/parallax/02.svg"); }

.art_layer.parallax {
  position: fixed; }

/* --- mobile --- */
@media screen and (max-width: 400px) {
  .logo {
    padding-top: 15px; }
  #parallax {
    display: none; }
  #nonparallax {
    display: block;
    background-image: url("../img/mobil.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%; }
  .art {
    height: 300px; } }

/*
***********
ARTICLE
************
*/
.container {
  position: relative;
  background: #f2f2f2;
  z-index: 100;
  overflow: hidden .container -wrapper;
    overflow-max-width: 1170px;
    overflow-margin: 0 auto; }

.article {
  max-width: 600px;
  margin: 0 auto 0 auto;
  text-align: center;
  padding: 100px 20px 0 20px; }
  .article-h1 {
    font-size: 40px;
    font-weight: 900;
    color: #e20079;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 30px; }
  .article-p {
    color: #e20079;
    line-height: 25px; }
  .article-img {
    margin-top: 50px;
    max-width: 100%;
    height: auto; }

@media screen and (max-width: 400px) {
  .article {
    padding-top: 30px; } }

/*
***********
FOOTER
************
*/
